
<footer>
    <div class="footer1">
        <h3>Address</h3>
        <a href="" class="footer11">Gneswarpur</a>
        <a href="" class="footer12">Remuna</a>
        <a href="" class="footer13">Balasore</a>
        <a href="" class="footer14">Phone : 9090909090</a>
    </div>
    <div class="footer2">
        <h3>Products</h3>
        <a href="" class="footer21">footer21</a>
        <a href="" class="footer22">footer21</a>
        <a href="" class="footer23">footer21</a>
        <a href="" class="footer24">footer21</a>
    </div>
    <div class="footer3">
        <h3>Grow</h3>
        <a href="" class="footer31">footer31</a>
        <a href="" class="footer32">footer31</a>
        <a href="" class="footer33">footer31</a>
        <a href="" class="footer34">footer31</a>
    </div>
    <div class="footer4">
        <h3>Quick Links</h3>
        <a href="" class="footer41">footer41</a>
        <a href="" class="footer42">footer41</a>
        <a href="" class="footer43">footer41</a>
        <a href="" class="footer44">footer41</a>
    </div>
</footer>