$red: rgb(209, 35, 35);
$black: black;
$white: white;
$grey: grey;
$maroon: #800000;
$orange: #ffa500;
$darken: darken(#000000 , 20%);
$reddarken: darken($red , 10%);
$yellowdarken: darken(yellow , 20%);
$lightblue: rgb(151, 196, 235);
$linkunderline: rgb(196, 172, 235);



$wrapper-bg-color: #c4fad6;
$heading:rgb(118, 66, 214);

//footer colours
$footer-bg-color: #adf5bc;
$footer-border: #3d3c3c;
$text-color: #140342;
