<section class="maincontain">
    <h1 class="maincontain-head-msg">SIP Calculator</h1>
    <p class="maincontain-head-msg-content">
        Use this SIP Calculator to calculate the amount you will get after accumulation.
    </p>
    <section class="maincontain-sip-input">
        <h3 class="maincontain-sip-input-msg">Online SIP Calculator for India</h3>
        <div class="maincontain-sip-input-contain">
            <input type="text" class="investment-amount">
            <input type="text" class="investment-age">
        </div>
        <button class="calc-sip">Calculate</button>
    </section>

</section>