@import "./../../assets/partial/colour";
@import "./../../assets/partial/media-quaries";

.final-calc {
    display: inline-block;
    border-left: 1px solid black;
    width: 50%;
    height: 350px;
    padding: 20px;
    margin-top: 13px;
    text-align: center;
    @include tablet500 {
        width: 100%;
       border-top: 2px solid $heading;
       border-left: none;
    }

    .calc1 {
        border-bottom: 2px dashed black;
        font-size: large;
        color: $heading;
        text-align: center;
        width: 100%;
        height: 15%;
        margin-bottom: 3rem;
    }
    .calc2, .calc3, .calc4 {
        //display: inline-block;
        width: 100%;
        height: 10%;
        padding: 14pt;

    }
    .calc5 {
        margin: 20pt;
    }
}