<!-- header navbar section -->
<header class="navbar-head">
    <nav class="navbar">
        <a href="/" class="navbar-logo">MY CALCULATOR</a>
        <div class="navbar-bars">
            <i class="fa-thin fa-align-justify">xx</i>
        </div>
        <div class="navbar-menu">
            <a href="/home" class="navbar-menu-link">HOME</a><a href="/aboutus" class="navbar-menu-link">About Us</a><a href="/calculator" class="navbar-menu-link">Calculators</a><a href="/signup" class="navbar-menu-link"><button>Sign UP</button></a>
        </div>
    </nav>
</header>
<!-- aside navbar section -->
<aside class="navbar-aside">
    <nav class="navbar-menu">
        <ul class="navbar-menu-list">
            <li class="navbar-menu-list1">Calculators</li>
            <li class="navbar-menu-list2">About US</li>
            <li class="navbar-menu-list3">Vision</li>
            <li class="navbar-menu-list4"><button>Sign up </button></li>
        </ul>
    </nav>
</aside>
<!-- main contain section -->
<section class="maincontain">
    <h1 class="head-msg">SIP Calculator</h1>
    <p class="head-msg-content">
        Use this SIP Calculator to calculate the amount you will get after accumulation.
    </p>
    <section class="sip-input">
        <h3 class="sip-input-msg">Online SIP Calculator for India</h3>
        <div class="main-input-contain">
            <input type="text" class="investment-amount">
            <input type="text" class="investment-age">
        </div>
        <button class="calc-sip">Calculate</button>
    </section>

</section>
<!-- main article section -->
<article class="lower-maincontaion">
    <!-- result and chat will be here -->
</article>
<!-- footer section -->
<footer>

</footer>