@import "./../../assets/partial/colour";
@import "./../../assets/partial/media-quaries";



a.button{
    margin: 4px;
    float: right;
    padding: 10px 15px;
    background-color: blueviolet !important;
    color: $white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}