/* You can add global styles to this file, and also import other style files */
@import "./assets/partial/colour";
@import "./assets/partial/media-quaries";

*{padding: 0; margin: 0; box-sizing: border-box;}
body{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.button {
    background-color: rgb(32, 124, 222);  
    border-radius: 5px;
    color: $white;
    padding: .5em;
    text-decoration: none;
  }
  
  .button:focus,
  .button:hover {
    background-color: rgb(62, 84, 206);
    color: $white;
}